.container{
    border: black 1px solid;
    padding: 1%;
}

.containerPhotos{
    grid-template-columns: repeat(4,1fr);
    display: grid;
    overflow: auto;
    height: 40vh;
    border: 1px solid grey;
    background-color: rgb(241, 239, 239);
}

@media screen and (max-width:768px){
    .containerPhotos{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width:426px){
    .containerPhotos{
        grid-template-columns: repeat(2,1fr);
    }
}