.gallery{
    position: relative;
    height: 25vh;
    padding: 3%;
    border: 1px solid grey;
}

.tags{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.photoNameAndIcon{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
}

.listTags{
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 70%;
    margin-left: 16%;
    margin-top: 5%;
}

.photoInAlbum{
    width: 20%;
    height: 40px;
}

img{
    width: 100%;
    height: 75%;
}
img:hover{
    transform: scale(1.05); 
    transition: 0.8s;
    box-shadow: 2px 2px 5px  blue;
    background-color: aliceblue;
    z-index: 100;
}

.fontAuthor{
    font-family: cursive;
}

svg{
    cursor: pointer;
}
svg:hover{
    transform: scale(1.3);
    transition: 0.5s;
}