.dragDrop{
    display: flex;
    padding: 1%;
}

.photosAlbums{
  width: 100%;
  text-align: center;
  margin-left: 1%;
}

@media screen and (max-width:768px){
  .dragDrop{
    flex-direction: column;
  }
  .dragDrop>div{
    width: 97%;
    margin-bottom: 2%;
  }
}