.App {
  text-align: center;
}

button{
  background-color: rgb(182, 231, 231);
  width: 70%;
  border-radius: 5px;
  border: 1px black solid;
  text-align: center;
  margin: 3%;
}

input{
  margin: 1%;
}